.container-fluid
	.jumbotron
		%h1
			Bonjour, Association X.
	%form.form-horizontal
		.form-group
			%label.col-sm-2.control-label{:for => 'inputTags'}
				Tags
			.col-md-8
				%input.form-control{:type => 'text', :id => 'inputTags', :placeholder => 'Tags'}
		.form-group
			%label.col-sm-2.control-label{:for => 'inputMsg'}
				Message
			.col-md-8
				%textarea.form-control{:rows => '4',:id => 'inputMsg', :placeholder => 'Tapez votre message ici...'}
		.form-group
			.col-sm-offset-2.col-sm-10
				%button.btn.btn-success{:type => 'submit'}
					Envoyer
