.container-fluid
	.jumbotron
		%h1
			Bonjour, Association X.
	.action-bar
		%a.btn.btn-success.col-md-1.col-md-offset-1{:href => "organisations/new"}
			Créer profil
		%a.btn.btn-info.col-md-1.col-md-offset-1{:href => "organisations/edit"}
			Créer message
	%form.form-horizontal.
		.form-group
			%label{:for =>}
			.col-md-8
				%input.form-control{:type => 'text', :id => 'inputEmail', :placeholder => 'Email'}